{
{% set count = 0 %}
{% for i in server_list %}
"{{i}}": {
"hostname": "{{hostname[count]}}",
"kernel_version": "{{oskernel[count]}}",
"ipaddress": "{{ipaddress[count]}}",
"macaddress": "{{macaddress[count]}}",
"cpucount": "{{cpucount[count]}}",
"cpuidle": "{{cpuidle[count]}}",
"total_memory": "{{totalmem[count]}}",
"used_memory": "{{usedmem[count]}}",
"free_memory": "{{freemem[count]}}",
"total_swap": "{{totalswap[count]}}",
"used_swap": "{{usedswap[count]}}",
"free_swap": "{{freeswap[count]}}",
"top_cpu_process": "{{topcpu[count]}}",
"top_memory_process": "{{topmem[count]}}",
"current_logged_in_users": "{{activeusers[count]}}",
"users_password_expired": "{{passexpired1[count]}}",
"password_expire_date": "{{passwordexpire[count]}}",
"users_list": "{{userslist[count]}}",
"ls_output": "{{lsoutput[count]}}",
"hosts_file": "{{hostsfile[count]}}",
"services_status": "{{servicerunning[count]}}",
"pvs": "{{pvs1[count]}}",
"vgs": "{{vgs1[count]}}",
"lvs": "{{lvs1[count]}}",
"disk_utilization": "{{id_list[count]}}",
"ifconfig": "{{ifconfig1[count]}}",
"ports_listening": "{{portslis[count]}}"
}
{% set count = count + 1 %}
{% if i != server_list|last %},{% endif %}
{% endfor %}
}
